script(src='/bower_components/es5-shim/es5-shim.js')
script(src='/bower_components/es5-shim/es5-sham.js')
script(src='/bower_components/jquery/dist/jquery.js')
script(src='/bower_components/components-bootstrap/js/bootstrap.min.js')
script(src='/bower_components/codemirror/lib/codemirror.js')
script(src='/bower_components/codemirror/mode/javascript/javascript.js')
script(src='/bower_components/requirejs/require.js', data-main='js/main.js')
